/**
 * THEME NAME......Ocean - Responsive One Page Theme
 * THEME URI......http://www.vaila.lt/theme/ocean
 * Author...... Vaidas L.
 * Version......v1.0
*/

/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/

/**
 * CONTENTS............You’re reading it!
 * BASE STYLES...............Base theme styles
 * TYPOGRAPHY...........Titles, paragraphs
 * LINKS...........Styling for links
 * MIXED...........Some mixed classes
 * DIVIDERS...........Styling for dividers that separate sections (it is quote with background image)
 * NAVIGATION...........Fixed navigation styling
 * HEADER...........Header section styling
 * SERVICES-WRAP...........Styling for services/features section
 * FEATURE-WRAP...........Styling for features section (of course, can be used for whatever you like)
 * PORTFOLIO...........Styling for portfolio section (grid with images)
 * COPYRIGHT-WRAP...........Little styling for copyright's section
 * MEDIA-QUERIES...........To make things responsive
 */


/*------------------------------------*\
    $BASE STYLES
\*------------------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

html,
button,
input,
select,
textarea {
    color: #222;
}

html,
body {
    height: 100%;
}

body {
    /* font-family: "Lato";*/
    font-family: 'Nanum Myeongjo', serif;
    line-height: 1.3;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

hr {
    border-top: 1px solid #ccc;
    position: relative;
    display: block;
    margin: 1em 0;
    padding: 0;
    border: none;
    height: 1px;
}

    hr:before {
        content: " ";
        position: absolute;
        top: 0;
        left: 40%;
        width: 20%;
        height: 1px;
        background: #eee;
    }

img {
    vertical-align: middle;
}

a img {
    background: #fff;
}

.odd a img {
    background: #f5f5f5;
}

textarea {
    resize: vertical;
}

::-moz-selection {
    background: #ccd8ff;
    color: #2b348d;
    text-shadow: none;
}

::selection {
    background: #ccd8ff;
    color: #2b348d;
    text-shadow: none;
}


/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Raleway', sans-serif;*/
    font-weight: 300;
    color: #3b3b3b;
}

p {
    margin-bottom: 25px;
    line-height: 28px;
}

.center {
    text-align: center;
}

strong {
    font-weight: 700;
}

small {
    font-size: 12px;
}

em {
    font-weight: 300;
}

/*한글*/
.kor_nanum_brush{
    font-family:'Nanum Brush Script', sans-serif;
}

/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
    word-wrap: break-word;
    color: #3276B1;

    -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
       -moz-transition: color 0.2s ease-in, background 0.2s ease-in;
            transition: color 0.2s ease-in, background 0.2s ease-in;
}

a:hover, a:focus {
    text-decoration: none;
    color: #3e89c8;
    outline: 0;
}

a:before, a:after {
    -webkit-transition: color 0.2s ease-in, background 0.2s ease-in;
       -moz-transition: color 0.2s ease-in, background 0.2s ease-in;
            transition: color 0.2s ease-in, background 0.2s ease-in;
}


/*------------------------------------*\
    $MIXED
\*------------------------------------*/

.col-md-4 {
    padding-bottom: 20px;
}

.row {
    margin-right: 0px;
    margin-left: -15px;
}

.modal-header {
    background: #fff;
}

    .modal-header h3 {
        color: #212425;
    }

.modal-header .close {
    margin: 0;
}

.close {
    font-size: 34px;
}

.modal-content {
    border-radius: 2px;
}

/*.btn {
    padding: 10px 14px;
    border-radius: 2px;
}*/

.team-member {
    padding: 3px;
    border: 1px solid #d0d0d0;
}


/*------------------------------------*\
    $DIVIDERS
\*------------------------------------*/

.divider { /* It is how single divider look's */
    width: 100%;
    padding: 35px 0 70px 0;
    max-height: 500px;
    display: table;
    background-position: center center;
    background-attachment: fixed; 
    z-index: 999;


    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

    .divider h1 {
        font-size: 40px;
        color: #f4f4f4;
        padding-top: 70px;
    }

    .divider p {
        color: #f4f4f4;
        font-size: 20px;
    }

/* Background images for each divider can be fitted here, for demo purposes I set all images to the same one. Change it to youre likings */

.divider-bg-1 { background-image: url(/images/bg.jpg); }

.divider-bg-2 { background-image: url(/images/bg.jpg); }

.divider-bg-3 { background-image: url(/images/bg.jpg); }

.divider-bg-4 { background-image: url(/images/bg.jpg); }

.divider-bg-5 { background-image: url(/images/bg.jpg); } /* 5 is used for footer section */



/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.logo {
    font-size: 22px;
    color: #34495e;
}

.icon-menu {
    font-size: 20px;
    color: #34495e;
}

.navbar-default {
    background-color: #dadada;
    border-color: transparent;
}

.navbar-toggle {
    border: 0px solid transparent;
    border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #999;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse {
    border-color: #ddd;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #16a085;
	color: white;
}

.navbar-inverse {
    background-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
    line-height: 19px;
}

.navbar-fixed-top {
    border-width: 0 0 0;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #7e7e7e;
}


/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.header-wrap {
    background: url(/images/bg.jpg) no-repeat center top;
    padding-top: 140px;
    margin-top: -50px;
    min-height: 750px;
	width: 100%;
    
    -webkit-background-size: 100%;
       -moz-background-size: 100%;
            background-size: 100%;

    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;
}

    .header-wrap h1 {
        font-size: 100px;
        font-weight: bold;
        padding-bottom: 20px;
        margin-top: 170px;
        color: #ecf0f1;
    }

    .header-wrap p {
        font-size: 50px;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 0.5px;
        color: #ecf0f1;
    }


/*------------------------------------*\
    $SERVICES-WRAP
\*------------------------------------*/

.services-wrap {
    padding-top: 65px;
    margin-top: 0px;
    background-color: #fff;
    font-size:18px;
}

    .services-wrap p {
        padding: 15px 0 15px 0;
        margin: 0 50px 0 50px;
        letter-spacing: 1px;
    }

    .services-wrap .icon {
        font-size: 55px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .services-wrap .callout {
        margin-bottom: 20px;
    }


/*------------------------------------*\
    $FEATURE-WRAP
\*------------------------------------*/

.feature-wrap {
    padding-top: 65px;
    margin-top: 0px;
    background-color: #fff;
}

    .feature-wrap h2 {
        padding: 50px 0 5px 0;
        margin: 0 50px 0 50px;
    }

    .feature-wrap p {
        padding: 15px 0 15px 0;
        margin: 0 50px 0 50px;
        letter-spacing: 1px;
    }


/*------------------------------------*\
    $PORTFOLIO
\*------------------------------------*/

.grid figure {
	margin: 0;
	position: relative;
}

    .grid figure img {
        width: 100%;
        display: block;
        position: relative;
    }

.grid figcaption {
    background: rgba(52, 73, 94, 0.85);
	position: absolute;
    padding: 20px;
    color: #fff;
	top: 0;
	left: 0;
}

    .grid figcaption h5 {
        margin: 0;
        color: #fff;
        padding-top: 0px;
        padding-bottom: 5px;
        color: #fff;
        font-weight: 700;
        text-align: left;
        letter-spacing: 2px;

    }

    .grid figcaption a {
        display: inline-block;
        margin-left: 20px;
        padding-top: 20px;
        text-align: left;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
    }

.mask figure {
	overflow: hidden;
}

.mask figcaption {
	width: 100%;
    height: 80px;
	top: auto;
	bottom: 0;
	opacity: 0;
    
	-webkit-transform: translateY(100%);
	   -moz-transform: translateY(100%);
	    -ms-transform: translateY(100%);
	        transform: translateY(100%);
    
	-webkit-transition: -webkit-transform 0.5s, opacity 0.1s 0.3s;
	      -moz-transition: -moz-transform 0.5s, opacity 0.1s 0.3s;
	                transition: transform 0.5s, opacity 0.1s 0.3s;
}

    .mask figcaption a {
        top: 10px;
        right: 30px;
        bottom: 10px;
        position: absolute;
    }

.no-touch .mask figure:hover figcaption,
.mask figure.cs-hover figcaption {
	opacity: 1;
    
	-webkit-transform: translateY(0px);
	   -moz-transform: translateY(0px);
	    -ms-transform: translateY(0px);
	        transform: translateY(0px);
    
	-webkit-transition: -webkit-transform 0.5s, opacity 0.1s;
	      -moz-transition: -moz-transform 0.5s, opacity 0.1s;
	                transition: transform 0.5s, opacity 0.1s;
}


/*------------------------------------*\
    $COPYRIGHT-WRAP
\*------------------------------------*/

.copyright {
  font-family: 'Raleway', sans-serif;
	background-color: #2c3e50;
    padding: 25px 0 20px 0;
    margin-top: 0;
}

    .copyright h5 {
        color: #f4f4f4;
    }


/*------------------------------------*\
    $MEDIA-QUERIES
\*------------------------------------*/

@media screen and (max-width:1050px), screen and (max-device-width:1050px){
	body .header{ background-attachment: scroll; }
}

@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait){
	.header{ background-attachment: scroll; }
}

@media screen and (max-width:769px) {
	.header-wrap h1 { font-size: 72px; }
    
	.header-wrap p {
		font-size: 32px;
		line-height: 34px;
	}
}


/*carousel*/
.carousel-text{
	  font-family: 'Raleway', sans-serif;
    position:relative;
    top:-250px;
    height:0px;
}
@media (min-width: 769px) {
    .big{
        display:block;
    }
    .small{
        display:none;
    }
    .slider-size {
        height: 800px; 
        width: 100%;
    }    
    #carousel_1 {
        background:url(/images/father/10.png) center top; 
        background-size:cover;
    }
    #carousel_2 {
        background:url(/images/father/31.png) center top; 
        background-size:cover;
    }
    #carousel_3 {
        background:url(/images/father/26.png) center top; 
        background-size:cover;
    }
    #carousel_4 {
        background:url(/images/father/24.png) center top; 
        background-size:cover;
    }
    #carousel_5 {
        background:url(/images/father/18.png) center top; 
        background-size:cover;
    }
}
@media (max-width: 768px) {
    .big{
        display:none;
    }
    .small{
        display:block;
    }
    .slider-size {
        height: 500px; 
        width: 100%;
    }
    #carousel_1 {
        background:url(/images/father/short_10.png) center top; 
        background-size:cover;
    }
    #carousel_2 {
        background:url(/images/father/short_31.png) center top; 
        background-size:cover;
    }
    #carousel_3 {
        background:url(/images/father/short_26.png) center top; 
        background-size:cover;
    }
    #carousel_4 {
        background:url(/images/father/short_24.png) center top; 
        background-size:cover;
    }
    #carousel_5 {
        background:url(/images/father/short_18.png) center top; 
        background-size:cover;
    }
}
.white {
    color:white;
}


.left{
	text-align:left;
}


/* noti */
.message {
   /*overflow: hidden;
   position: fixed;
   top:0px;
   width:100%;
   opacity: 1;
   z-index: 1050;*/
   text-align:center;
}
