<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ocean - Responsive One Page Theme</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link rel="shortcut icon" href=""> <!-- Put path to your favicon here -->
      
        <!-- Google web fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'> <!-- Raleway -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'> <!-- Lato; could be changed to Open Sans -->
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

<!-- <body class="animated fadeIn" data-spy="scroll" data-offset="0" data-target="#navbar-main"> -->
<body class="animated" data-spy="scroll" data-offset="0" data-target="#navbar-main">
    <!-- Fixed navigation starts  -->
    <div id="navbar-main">
        <div class="navbar  navbar-inverse  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon  icon-menu"></span>
                    </button>
                    <a class="navbar-brand  smoothScroll" href="#home"><span class="logo">DORESOL.NET</span></a> <!-- Branding -->
                </div>
                <div class="navbar-collapse  collapse">
                    <ul class="nav  navbar-nav  navbar-right">
                        <li><a href="#home" class="smoothScroll">Home</a></li>
                        <li><a href="#features" class="smoothScroll">Features</a></li>
                        <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                        <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- navigation ends -->
    
    <!-- Header starts here -->
    <div class="header-wrap  center" id="home" name="home">
        <header class="clearfix">
            <h1 class="animated  fadeInUp"></h1>
            <p class="animated  fadeInUp kor">
                도래솔은 
            </p>
            <p class="animated  fadeInUp kor">
                사랑했지만, 곁에 없는 이들을 추억하기 위한 서비스입니다.
            </p>
        </header>
    </div><!-- header ends -->
    <audio controls>
        <source src="images/mp3_short.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <!-- Team/staff section starts here -->
    <div class="container" id="team" name="team">
        <br>
        <div class="row  center">
            <br>
            <h1 class="center">만약 여러분이 </h1>
            <hr>
            <br>
            <br>
            
            <!-- Single team member -->
            <div class="col-lg-4  center">
                <img class="img  img-circle  team-member" src="http://placesheen.com/155/155" height="155px" width="155px" alt="">
                <br>
                <h4><b>추억 저장소</b></h4> <!-- Name -->
                <p>내 아이에게 할아버지/할머니의 이야기를 들려주세요.</p> <!-- Description -->
            </div><!-- single team member ends -->

            <div class="col-lg-4  center">
                <img class="img  img-circle  team-member" src="http://placesheen.com/155/155" height="155px" width="155px" alt="">
                <br>
                <h4><b>일화의 공유</b></h4>
                <p>떨어져 사는 가족들과 돌아가신 아버지/어머니에 대한 기억을 공유하세요.</p>
            </div>

            <div class="col-lg-4  center">
                <img class="img  img-circle  team-member" src="http://placesheen.com/155/155" height="155px" width="155px" alt="">
                <br>
                <h4><b>하고 싶은 이야기를 전달하세요.</b></h4>
                <p>나의 손자들 </p>
            </div>

        </div>
        <br>
    </div><!-- team/staff section ends -->

    
    <!-- #4 Divider with few words/quote -->
    <section class="divider  divider-bg-4  center">
        <div class="container">
            <h1>여러분을 초대합니다.</h1>
            <hr>
            <p>DORESOL.NET은 곧 시범 서비스 예정입니다. </p>
            <p>저희들은 관심있는 고객분들에 먼저 서비스를 보여드리고자 합니다.</p>
        </div>
        <div class="subscription-form span12">
            <form class="form-inline" action="user" method="post">
                <input type="text" name="email" placeholder="이메일을 입력하세요.">
                <button type="submit" class="btn"> 관심 고객 등록</button>
            </form>
            <div class="success-message" style="display: none;"></div>
            <div class="error-message" style="display: none;"></div>
        </div>
    </section><!-- #4 divider ends --> 

   <!-- Services/Features section starts here -->
    <div class="services-wrap  center">
        <div class="row">
            
            <div class="col-lg-3  callout">
                <span class="icon  icon-screen"></span>
                <h2>Web Design.</h2> <!-- Title -->
                <p>That tall drink of water with the silver spoon up his ass. you measure yourself by the people who measure themselves by you.</p> <!-- Description -->
            </div><!-- col-lg-3 -->
                    
            <div class="col-lg-3  callout">
                <span class="icon  icon-quill"></span>
                <h2>Branding.</h2>
                <p>Well, what is it today? more spelunking? mister wayne, if you don't want to tell me exactly what you're doing, when i'm asked.</p>
            </div><!-- col-lg-3 --> 
                
            <div class="col-lg-3  callout">
                <span class="icon  icon-cogs"></span>
                <h2>Development.</h2>
                <p>Your entrance was good, his was better. we got no food we got no money and our pets heads are falling off!</p>
            </div><!-- col-lg-3 --> 
                
            <div class="col-lg-3  callout">
                <span class="icon  icon-droplet"></span>
                <h2>Illustration.</h2>
                <p>Brain freeze. i just heard about evans new position,good luck to you evan backstabber, bastard, i mean baxter.</p>
            </div><!-- col-lg-3 --> 
            
        </div>
    </div><!-- services/features section ends -->
    
 		
    <!-- Footer section starts here -->
    <section class="divider  divider-bg-5  center" id="contact" name="contact">
        <div class="container">
            <h1>CRAFTED WITH LOVE IN LITHUANIA.</h1>
            <hr>
            <p>Company Address 654,</p>
            <p>+987 654 321</p>
            <p><a class="icon  icon-google-plus" href="#"></a> <a class="icon  icon-twitter" href="#"></a> <a class="icon  icon-facebook" href="#"></a> <a class="icon  icon-flickr" href="#"></a></p>
        </div>
    </section><!-- footer section ends -->

    
    <!-- Copyright section starts here -->
    <div class="copyright  center">
        <div class="container">
            <h5>&copy; 2014 <a href="#"> HummingTop. All Right Reserved. 개인정보 보호 정책 | 이용 약관 </a></h5>
        </div>
    </div><!-- copyright section ends -->
   
    </body>
</html>