<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ocean - Responsive One Page Theme</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <link rel="shortcut icon" href=""> <!-- Put path to your favicon here -->
      
        <!-- Google web fonts -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'> <!-- Raleway -->
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'> <!-- Lato; could be changed to Open Sans -->
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

<!-- <body class="animated fadeIn" data-spy="scroll" data-offset="0" data-target="#navbar-main"> -->
<body class="animated" data-spy="scroll" data-offset="0" data-target="#navbar-main">
    <!-- Fixed navigation starts  -->
    <div id="navbar-main">
        <div class="navbar  navbar-inverse  navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon  icon-menu"></span>
                    </button>
                    <a class="navbar-brand  smoothScroll" href="#home"><span class="logo">DORESOL.NET</span></a> <!-- Branding -->
                </div>
                <div class="navbar-collapse  collapse">
                    <ul class="nav  navbar-nav  navbar-right">
                        <li><a href="#home" class="smoothScroll">Home</a></li>
                        <li><a href="#features" class="smoothScroll">Features</a></li>
                        <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
                        <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- navigation ends -->
    
    <!-- Header starts here -->
    <div class="header-wrap  center" id="home" name="home">
        <header class="clearfix">
            <h1 class="animated  fadeInUp"></h1>
            <p class="animated  fadeInUp kor">
                도래솔은 
            </p>
            <p class="animated  fadeInUp kor">
                진심을 다해 사랑했지만
            </p>
            <p class="animated  fadeInUp kor">
                이젠 곁에 없는 이들을 추억하기 위한 서비스입니다.
            </p>
            
        </header>
    </div><!-- header ends -->
    <!-- Team/staff section starts here -->
    <div class="container" id="team" name="team">
        <br>
        <div class="row  center">
            <br>
            <h1 class="center">도래솔에서</h1>
            <hr>
            <br>
            <br>
            
            <div class="col-lg-4  center">
                <img class="img  img-circle  team-member" src="http://newsplus.chosun.com/site/data/img_dir/2009/03/26/2009032600391_0.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>추억을 간직하세요</b></h4> 
                <p>
                    함께 했던 순간들을 떠올려 보세요<br/>
                    재미있었던 일, 즐거웠던 기억, 함께 떠난 여행.<br/>
                    사진, 동영상, 일화들을 통해 소중한 추억을 간직하세요 
                </p>        
            </div><!-- single team member ends -->

            <div class="col-lg-4  center">
                <img class="img  img-circle  team-member" src="http://cfs9.blog.daum.net/image/27/blog/2007/11/06/23/56/4730804d924be&filename=![CDATA[%EC%82%AC%EB%9E%91%EA%B8%80%EA%B7%809.jpg]]" height="155px" width="155px" alt="">
                <br>
                <h4><b>사랑을 전달하세요</b></h4>
                <p>
                    문득 그 분이 그리울 때<br/>
                    못 다한 이야기를 전달해 보세요<br/>
                    사랑해 미안해 보고싶어<br/>
                    감정을 표현해보세요<br/>
                    그리고 가족,친구들과 함께<br/>
                    그 분에 대한 추억을 나눠보세요
                </p>
            </div>

            <div class="col-lg-4  center">
                <img class="img  img-circle  team-member" src="http://www.thetrueknowledge.org/wp-content/uploads/2012/06/Remember-350-x-320.jpg" height="155px" width="155px" alt="">
                <br>
                <h4><b>그리고 기억하세요</b></h4>
                <p>
                    언제 어디에서든 그 분을 추억하고 영원히 기억하세요<br/>
                    도래솔은 여러분이 간직해 놓은 소중한 추억을<br/>
                    안전하게 보관합니다
                </p>
            </div>

        </div>
        <br>
    </div><!-- team/staff section ends -->

    <!-- #4 Divider with few words/quote -->
    <section class="divider  divider-bg-4  center">
        <div class="container">
            <h1>여러분을 초대합니다.</h1>
            <hr>
            <p>DORESOL.NET은 베타 서비스를 열심히 준비중입니다.</p>
            <p>이메일을 등록하시면 베타 서비스 오픈 시 알려드리겠습니다.</p>
        </div>
        
        <div class="row-fluid">
            <div class="col-lg-12">
                <form class="form-inline" action="user" method="post">
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="이메일을 입력하세요">
                  </div>
                  <button type="submit" class="btn btn-info">등록</button>
                </form>
            </div>
        </div>
    </section><!-- #4 divider ends --> 

   <!-- Services/Features section starts here -->
    <div class="services-wrap  center">
        <div class="row">
            <div class="col-lg-3 callout">
                <span class="icon icon-mobile"></span>
                <h2>Mobile</h2> <!-- Title -->
                <p>사진 및 동영상을 저장해두고 언제든 일반 PC 및 모바일 디바이스를 통해 접근할 수 있습니다.</p> <!-- Description -->
            </div><!-- col-lg-3 -->
                    
            <div class="col-lg-3 callout">
                <span class="icon  icon-pencil"></span>
                <h2>Express</h2>
                <p>떠난 이에게 하고 싶은말을 남길 수 있습니다. 함께 한 일들을 적어보면서 추억들을 남기고 저장할 수 있습니다.</p>
            </div><!-- col-lg-3 --> 
            <div class="col-lg-3 callout">
                <span class="icon  icon-user"></span>
                <h2>Community</h2>
                <p>가족 또는 지인들을 초대하여 추억을 공유할 수 있습니다. 기쁨은 공유하면 2배가 되고 슬픔은 공유하면 반이 됩니다.</p>
            </div><!-- col-lg-3 --> 
                
            <div class="col-lg-3  callout">
                <span class="icon  icon-droplet"></span>
                <h2>Notification</h2>
                <p>가끔은 도래솔 서비스이 기억할 날을 알려드립니다.</p>
            </div><!-- col-lg-3 --> 
            
        </div>
    </div><!-- services/features section ends -->
     		
    <!-- Footer section starts here -->
   <!--  <section class="divider  divider-bg-5  center" id="contact" name="contact">
        <div class="container">
            <h1>
                REMEMBERANCE OF LOVED ONE<br/>
            </h1>
            <hr>
            <p>
                DORESOL<br/>
                doresol@hummingtop.co.kr
            </p>
            <p><a class="icon  icon-facebook" href="#"></a></p>
        </div>
    </section> -->
    <!-- footer section ends -->
   <div class="row">
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div style="background:url(/images/father/31.jpg) center top; background-size:cover;" class="slider-size">                  
              </div>
            </div>
            <div class="item">
              <div style="background:url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRXX9GEr7b-lUxlW_BBZMG17eEPn074HpyVpGvs8z8C4O4ma-8c0w) center top; background-size:cover;" class="slider-size">                  
              </div>
            </div>
           </div>
          <!-- Controls -->
          <a class="left carousel-control" href="javascript:void(0)" data-slide="prev" data-target="#carousel">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="javascript:void(0)" data-slide="next" data-target="#carousel">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
    </div>
    <div class="container carousel-text">
        <div class="center">
            <h1>
                REMEMBERANCE OF LOVED ONE<br/>
            </h1>
            <hr>
            <p>
                DORESOL<br/>
                doresol@hummingtop.co.kr
            </p>
            <p><a class="icon  icon-facebook" href="#"></a></p>
        </div>
     </div>
   
    <!-- Copyright section starts here -->
    <div class="copyright  center">
        <div class="container">
            <h5>&copy; 2014 <a href="#"> HummingTop. All Right Reserved.</a></h5>
        </div>
    </div><!-- copyright section ends -->
   
    </body>
</html>

